
    <div class="hero-section"
    style="background-image:url({{ section.settings.bg_img | image_url }});">
        <div class="container">
        <div class="row">
            <div class="col left-col">
                <h1>{{section.settings.hero_heading}}</h1>
                <div class="btn-cont">
                    <a href="{{section.settings.primary_link}}" class="btn1">{{section.settings.primary_text}}</a>
                    <a href="{{section.settings.secondary_link}}" class="btn2">{{section.settings.secondary_text}}</a>
                </div>
            </div>
            <div class="col right-col">
                <p>{{section.settings.hero_description}}</p>
            </div>
        </div>
        </div>
    </div>

    {% schema  %}
    {
        "name" : "custom hero secction",
        "settings" : [
            {
                "type": "image_picker",
                "id": "bg_img",
                "label": "Background Image"
            },
            {
                "type" : "text",
                "id" : "hero_heading",
                "label":"Hero Heading",
                "default": "Design Your Outdoor Space With Intention"
            },
            {
                "type" : "textarea",
                "id" : "hero_description",
                "label":"Hero Description",
                "default": "We source the finest materials and furnishings for those who build with care. Whether you're a professional designer or a homeowner seeking quality, we make the selection simple and the results lasting."
            },
            {
                "type" : "text",
                 "id" : "primary_text",
                 "label": "Button 1",
                 "default" : "Shop All"
            },
            {
                "type": "url",
                "id": "primary_link",
                "label": "Button 1",
            },
            {
                "type" : "text",
                 "id" : "secondary_text",
                 "label": "Button 2",
                 "default" : "Professionals"
            },
            {
                "type": "url",
                "id": "secondary_link",
                "label": "Button 1",
            }
        ],
        "presets": [{
            "name" : "Custom Hero"
        }]
    }

    {% endschema %}