<section class="bestseller-section"
 style="background-image:url({{ section.settings.bg_img | image_url }});">
  <div class="container">
    <div class="row">
      <div class="col left-col">
        <img src="{{section.settings.left_img | image_url}}" alt="My image's alt text" width="515px" height="100%">
      </div>
      <div class="col right-col">
        <h2>{{ section.settings.heading }}</h2>
        <p>{{ section.settings.desc}}</p>
        <div class="bestseller-btn">
          <a href="{{section.settings.primary_link}}" class="btn1">{{ section.settings.primary_text }}</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "custom Best Seller",
  "settings": [
       {
      "type": "image_picker",
      "id": "bg_img",
      "label": "Bg Image"
    },
    {
      "type": "image_picker",
      "id": "left_img",
      "label": "Left Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Connecting Design, Products & Performance"
    },
    {
      "type": "textarea",
      "id": "desc",
      "label": "Description",
      "default": "Connecting Design, Products & Performance"
    },
    {
      "type": "text",
      "id": "primary_text",
      "label": "Primary Button Text",
      "default": "Specification & Product Support"
    },
    {
      "type": "url",
      "id": "primary_link",
      "label": "Explore More"
    }
    
  ],
  "presets": [
    {
     "name": "Best Seller",
     "category": "Custom Shop"
    }
  ]
}
{% endschema %}


<style>
        .bestseller-section{
            padding: 48px 20px;
            background-size:cover;
background-position:center;
background-repeat:no-repeat;
        }
        .bestseller-section .row {
            display: flex;
            justify-content: center;
            column-gap: 40px;
        }
.bestseller-section .right-col {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: end;
    padding-bottom: 15px;
}
        .bestseller-section .col.left-col, col.right-col{
            width: 50%;
        }
        .bestseller-section .right-col h2 {
            font-size: 72px;
            line-height: 80px;
            font-weight: 400;
            color:#fff;
            font-style:normal;
            letter-spacing:-1%;
        }
        .bestseller-section .right-col p {
            font-size: 18px;
            line-height: 26px;
            font-weight: 400;
            color: #fff;    
        }
        .bestseller-section .bestseller-btn {
    display: flex;
    column-gap: 20px;
}
        .bestseller-section .bestseller-btn .btn1 {
            font-size: 16px;
            line-height: 26px;
            background: #667F81;
            padding: 12px 25px;
            border-radius: 6px;
            color: #fff;
            text-decoration: none;
            font-weight: 500;
        }
      
    </style>