<section class="our-mission-section" style="background-image:url({{ section.settings.bg_image | image_url }});">

<div class="container">

  <div class="row heading-row">
      <h2>{{ section.settings.headings }}</h2>
  </div>

  <div class="row mission-row">

      <div class="col mission-col left">
          <img src="{{ section.settings.image1 | image_url }}" alt="My image's alt text" width="100%" height="100%">
          <p>{{ section.settings.text1 }}</p>
      </div>

      <div class="col mission-col right">
        <div class="wrapper">
            <img src="{{ section.settings.image2 | image_url }}" alt="My image's alt text"  width="100%" height="100%">
            <p>{{ section.settings.text2 }}</p>
        </div>
      </div>

  </div>

</div>
</section>

{% schema %}
{
  "name": "Our Mission",
  "settings": [

    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },

    {
      "type": "text",
      "id": "headings",
      "label": "Heading",
      "default": "Our Mission"
    },

    {
      "type": "image_picker",
      "id": "image1",
      "label": "Left Image"
    },

    {
      "type": "textarea",
      "id": "text1",
      "label": "Left Text"
    },

    {
      "type": "image_picker",
      "id": "image2",
      "label": "Right Image"
    },

    {
      "type": "textarea",
      "id": "text2",
      "label": "Right Text"
    }

  ],

  "presets": [
    {
      "name": "Our Mission",
      "category": "Custom About Sections"
    }
  ]
}
{% endschema %}