<section>
    <div class="support-service-section" >
        <div class="container">
            <div class="row">
                <div class="col left-col">
                    <p>{{ section.settings.numbers }}</p>
                </div>
                <div class="col right-col">
                    <div class="row-1">
                        <h4>{{ section.settings.sub-heading }}</h4>
                        <h2>{{ section.settings.main-heading}}</h2>
                    </div>
                    <div class="row-2">
                        <div class="col col-left">
                            <h2>{{ section.settings.support_heading }}</h2>
                            <p>{{ section.settings.support_desc}}</p>
                            <div class="support-service-btn">
                                <a href="{{section.settings.primary_link}}" class="btn1">{{ section.settings.primary_text }}</a>
                                <a href="{{section.settings.secondary_link}}" class="btn2">{{ section.settings.secondary_text }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>